.div2{
    margin-bottom: 40px;
    position: relative;
    
    font-size: 14px;
    top: 120px;
}
.div1{
    margin-bottom: 40px;
    position: relative;
    left: 50px;
    font-size: 14px;
    top: 100px;
}
.qrcode{
    width: 200px;
    height: 200px;
    background-color: gray;
    position: relative;
    left: 55px;
    top: 100px;
}