<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="qrcode">
</div>
<div class="div1">
<p>Realizar leitura QRcode do Cliente</p>
</div>
<form [formGroup]="loginForm" (submit)="login()" novalidate>
<div class="div2">

<ion-item>
  <ion-label position="floating">Numero do celular</ion-label>
  <ion-input [(ngModel)]="numtel" formControlName="numtel" name="numtel" [brmasker]="{phone: true}" type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">O que foi consumido</ion-label>
    <ion-input [(ngModel)]="conteudo" formControlName="conteudo" type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Unidades consumidas(quantidades)</ion-label>
      <ion-input [(ngModel)]="unidades" formControlName="unidades" type="text"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary" class="ion-margin-top">
        MARCAR CONSUMO</ion-button>

      </div>
    </form>
</ion-content>
