<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  

  
  <ion-content class="ion-padding">
          <form [formGroup]="loginForm" (submit)="salva()" novalidate>
            
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input [(ngModel)]="email" formControlName="email" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Digite sua senha</ion-label>
                <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
              </ion-item>
              
              <ion-item>
                  <ion-label position="floating">Confirme sua senha</ion-label>
                  <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Digite seu Telefone</ion-label>
                    <ion-input [(ngModel)]="seutel" formControlName="seutel" name="phone" [brmasker]="{phone: true}" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Nome do estabelecimento</ion-label>
                      <ion-input [(ngModel)]="estabelecimento" formControlName="estabelecimento" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Telefone do estabelecimento</ion-label>
                        <ion-input [(ngModel)]="tel" formControlName="tel" name="phone" [brmasker]="{phone: true}" type="text"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">
                              Descrição curta do estabelecimento</ion-label>
                          <ion-input [(ngModel)]="tel" formControlName="tel" type="text"></ion-input>
                        </ion-item>
          
            <ion-button expand="block" color="medium">CAPTURAR LOCALIZAÇÃO</ion-button>
            <p>Capture a localização do seu estabelecimento, para que os carimbos sejam validados.</p>
            <ion-button type="submit" expand="block" color="primary" class="ion-margin-top">
              Cadastrar</ion-button>
          </form>
       
  </ion-content>
  