<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  <ion-content class="ion-padding">
  <ion-item>
      <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
      </ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="scanCode()">ScanCode</ion-button>


  <ion-card *ngIf="scannedCode">
      <ion-card-content>
              Result from Scan {{ scannedCode }}
      </ion-card-content>
    </ion-card>
      
  
      
  
       
  </ion-content>