<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">
    
          <form [formGroup]="loginForm" (submit)="salva()" novalidate>
              <ion-item>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input [(ngModel)]="nome" formControlName="nome" type="text"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Quantidades de pontos</ion-label>
                  <ion-input [(ngModel)]="pont" formControlName="pont" type="text"></ion-input>
                </ion-item>
              
            
            <ion-button type="submit" expand="block" color="primary"  class="ion-margin-top">
              Salvar</ion-button>
          </form>
       
  </ion-content>