<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  

  
  <ion-content class="ion-padding">

          <form  [formGroup]="loginForm" (submit)="salva()" novalidate>
              <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input [(ngModel)]="email" formControlName="email" name="email" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Digite sua senha</ion-label>
                    <ion-input [(ngModel)]="senha" name="senha" formControlName="senha" type="password"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Confirme sua senha</ion-label>
                      <ion-input [(ngModel)]="senha2" formControlName="senha2" name="senha" type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Digite o numero do seu Telefone</ion-label>
                        <ion-input [(ngModel)]="tel" name="tel"  formControlName="tel" name="phone" [brmasker]="{phone: true}" type="text"></ion-input>
                    </ion-item>
           
            
            <ion-button type="submit" expand="block" color="primary" class="ion-margin-top">
              Cadastrar</ion-button>
          </form>
       
  </ion-content>