p{
    font-size: 10px;
}
.label{
    font-size: 10px;
}
.div1{
    padding: 12px;
}
.div2{
    padding: 70px;
    position: relative;
    top: 10px;

}

.container-usuario{
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}