.img-button{
    max-width: 16vw;
    height: auto;
}
.button{
    width: 135px;
    height: 142px;
    background: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    margin-bottom: 5px;
}

h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Oleo Script', cursive;
    src: url('/theme/OleoScript-Bold.ttf');


}
