<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <h1>Restaurante do seu Zé</h1>
  <ion-grid>
      <ion-row>
        <ion-col>
    
            <button class="button" routerLink="/cadastro-tipo-consumo" block>
               <img class="img-button" src="assets/cadastro-tipo-consumo.png">
               <p>Tipo de Consumo</p>
               
          </button>
          <button class="button" routerLink="/cadastro-recompensa" block>
            <img src="assets/recompensas.png">
            <p>Recompensas</p>
       </button>
    
        </ion-col>
        <ion-col>
    
            <button class="button" routerLink="/validar-resgate" block>
               <img class="img-button" src="assets/validar-resgate.png">
               <p>Validar resgate</p>
               
          </button>
          <button class="button" routerLink="/marcar-consumo" block>
            <img class="img-button" src="assets/exportar-consumo.png">
            <p>Marcar Consumo</p>
       </button>
    
        </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
