@font-face {
    font-family: 'Oleo Script';
    src: url('./theme/OleoScript-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Oleo Script';
    src: url('./theme/OleoScript-Bold.ttf');
    font-weight: 600;
    font-style: normal;
  }