<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  
  <div class="div1">
      <ion-item>
          <ion-label class="label" >
    <h1>Restaurante do seu zé</h1>
    <p>Rua teste, completo Y, 123</p>
      <p>(41) 3030-3030</p>
      <p>Resgates disponíveis X Sua pontuação</p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Prato do seu zé       20/25 pontos</h1>
    <p>Válido para todos os consumos <a>Resgatar</a></p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Prato do seu zé       20/25 pontos</h1>
    <p>Válido para todos os consumos <a>Resgatar</a></p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Prato do seu zé       20/25 pontos</h1>
    <p>Válido para todos os consumos <a>Resgatar</a></p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Prato do seu zé       20/25 pontos</h1>
    <p>Válido para todos os consumos <a>Resgatar</a></p>
    </ion-label>
      </ion-item>
  </div>
 
</ion-content>
