<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label class="label" >Estabelecimentos proximos</ion-label>
  
  </ion-item>
  <div class="div1">
      <ion-item>  
    <ion-label class="label" >
    <h1><b>Restaurante do seu zé</b></h1>
    <p>Rua teste, completo Y, 123 <a routerLink="/resgates-disponiveis">Ver></a></p>
    </ion-label>
      </ion-item>

    <ion-item>
    <ion-label class="label" >
    <h1><b>Restaurante do seu zé</b></h1>
    <p>Rua teste, completo Y, 123 <a routerLink="/resgates-disponiveis">Ver></a></p>
    </ion-label>
    </ion-item>

    <ion-item>
    <ion-label class="label" >
    <h1><b>Restaurante do seu zé</b></h1>
    <p>Rua teste, completo Y, 123 <a routerLink="/resgates-disponiveis">Ver></a></p>
    </ion-label>
    </ion-item>
   
    <ion-item>
    <ion-label class="label" >
    <h1><b>Restaurante do seu zé</b></h1>
    <p>Rua teste, completo Y, 123 <a routerLink="/resgates-disponiveis">Ver></a></p>
    </ion-label>
    </ion-item>
    
    <ion-item>
    <ion-label class="label" >
    <h1><b>Restaurante do seu zé</b></h1>
    <p>Rua teste, completo Y, 123 <a routerLink="/resgates-disponiveis">Ver></a></p>
    </ion-label>
</ion-item>
  </div>
 
</ion-content>
