p{
    text-align: center;
    text-decoration: underline;
    color: blue;
}
h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Oleo Script', cursive;
    src: url('/theme/OleoScript-Bold.ttf');


}
