<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label class="label" >Meu historico de consumo</ion-label>
  
  </ion-item>
  <div class="div1">
      <ion-item>
          <ion-label class="label" >
    <h1>Restaurante do seu zé</h1>
    <p>Rua teste, completo Y, 123</p>
    <p><b>Prato feito</b></p>
    <p><b>2 unidades - 20 pontos</b></p>
    <p>20 de novembro de 2019 - 10:43</p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Restaurante do seu zé</h1>
    <p>Rua teste, completo Y, 123</p>
    <p><b>Prato feito</b></p>
    <p><b>2 unidades - 20 pontos</b></p>
    <p>20 de novembro de 2019 - 10:43</p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Restaurante do seu zé</h1>
    <p>Rua teste, completo Y, 123</p>
    <p><b>Prato feito</b></p>
    <p><b>2 unidades - 20 pontos</b></p>
    <p>20 de novembro de 2019 - 10:43</p>
    </ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="label" >
    <h1>Restaurante do seu zé</h1>
    <p>Rua teste, completo Y, 123</p>
    <p><b>Prato feito</b></p>
    <p><b>2 unidades - 20 pontos</b></p>
    <p>20 de novembro de 2019 - 10:43</p>
    </ion-label>
      </ion-item>

  </div>
 
</ion-content>
